name: Debug Info

on:
  push:

jobs:
  debug-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Show current directory
        run: pwd

      - name: Show files
        run: ls -la

      - name: Show Node version
        run: node --version
